[submodule "libft_string"]
	path = libft_string
	url = https://gitlab.com/JonathanDUFOUR/libft_string.git
[submodule "libft_io"]
	path = libft_io
	url = https://gitlab.com/JonathanDUFOUR/libft_io.git
[submodule "minilibx-linux"]
	path = minilibx-linux
	url = https://github.com/alisterd51/minilibx-linux.git
