[submodule "libft_string"]
	path = libft_string
	url = https://gitlab.com/JonathanDUFOUR/libft_string.git
[submodule "libft_io"]
	path = libft_io
	url = https://gitlab.com/JonathanDUFOUR/libft_io.git
